NEXT_PUBLIC_WALLETCONNECT_KEY=35f812c4964ad150854e578fcb2792fb

NEXT_PUBLIC_CHAIN_ID=1337
NEXT_PUBLIC_RPC_PROTOCOL=http
NEXT_PUBLIC_RPC_HOST=localhost
NEXT_PUBLIC_RPC_PORT=7545
NEXT_PUBLIC_RPC_URL=$NEXT_PUBLIC_RPC_PROTOCOL://$NEXT_PUBLIC_RPC_HOST:$NEXT_PUBLIC_RPC_PORT
