NODE_ENV=development

NEXT_PUBLIC_WALLETCONNECT_KEY=35f812c4964ad150854e578fcb2792fb

RPC_PROTOCOL=http
RPC_HOST=ganache
RPC_PORT=8545
NEXT_PUBLIC_CHAIN_ID=1337
NEXT_PUBLIC_RPC_URL=$RPC_PROTOCOL://$RPC_HOST:$RPC_PORT

NEXT_PUBLIC_CONTRACT_TOKEN=0x0964011903DE83982AedF45cFf49d796171e49FB
NEXT_PUBLIC_CONTRACT_NFT=0xF93E61BB0e6e293c88fC5780f9A9fcA69AA70689
NEXT_PUBLIC_CONTRACT_PLATFORM=0xe343419884e189a924B9E29B89C1c1e1cE88d254

NEXT_PUBLIC_MYSQL_ROOT_PASSWORD=rootpassword
NEXT_PUBLIC_MYSQL_DATABASE=database
NEXT_PUBLIC_MYSQL_USER=user
NEXT_PUBLIC_MYSQL_PASSWORD=password
